---
layout: default
title: "Mikael Korpela"
description: "Modern nomad, an activist and a friend Mikael Korpela."
body_id: "me"
---

<div id="cover" resizable ng-style="{ height: app.windowHeight }">
  <div style="background-image: url('/covers/albanian-mountains.jpg')" resizable ng-style="{ height: app.windowHeight }"></div>
  <div id="cover-blur" style="background-image: url('/covers/albanian-mountains-blur.jpg')" resizable ng-style="{ height: app.windowHeight }"></div>
</div>

<header id="page-header">
  <div class="title">
    <h1>Mikael Korpela</h1>
    <hr>
    {% if site.subtitle %}
      <h3>{{ site.subtitle }}</h3>
    {% endif %}
    {% include some.html %}
    <br><br>
    <span id="contact">
      <a href="mailto:mikael@ihminen.org">mikael@ihminen.org</a>
      &nbsp;&bull;&nbsp;
      <a href="tel:+358505557171" tt title="Finland">+358505557171</a>
      &nbsp;&bull;&nbsp;
      <a href="tel:+37062291941" tt title="Lithuania">+37062291941</a>
    </span>
  </div>
  {% include go_down.html %}
</header>

<div class="container">
  <article class="main">
    <div class="content">

      <div class="narrower-content">
        <h2>Good day!</h2>

        <p>I'm a lot on the road, it's in my nature. Often I hitchhike. I consider myself as a modern vagabond or nomad. I can do my work from anywhere and sometimes I'm not doing paid work for long times.</p>

        <p>I enjoy company of positive and talkative people. <br>Don't be evil. Be yourself.</p>

        <p>I have a good tolerance for different people and behaviour. <br>You can be odd if you want to.</p>

        <p>You can see what others are saying <br>about me at <a href="http://www.bewelcome.org/members/mikael/comments">BeWelcome</a>, <a href="http://www.couchsurfing.org/people/simison/">CouchSurfing</a> or <a href="https://www.trustroots.org/#!/profile/mikael">Trustroots</a>.</p>

        <br><br>
      </div>

      <p>
        <img src="/assets/img/mikael-me.jpg" alt="Mikael on meadow in French alps"><br>
        <small><em>This is me on a meadow I found at 2km altitude in French alps.</em></small>
      </p>

      <div class="narrower-content">
        <p>
            Most of the photos at this site are taken by <a href="http://www.wanderlust.lt">Simona</a>.<br>
            Don't copy them please. She's great!
        </p>
      </div>

      <hr>

      <em>Nähdään! See you!</em>

    </div>
  </article>
</div>
