
  <h1>Subscribe to my blog posts</h1>
  <hr>
  <div id="mc_embed_signup">
    <form action="//mikaelkorpela.us8.list-manage.com/subscribe/post?u=1d8120f110d3b61889d28bab7&amp;id=1851aa99ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
    	<label for="mce-EMAIL" class="sr-only">Email Address</label>
    	<input type="email" placeholder="Email Address" value="" name="EMAIL" id="mce-EMAIL" class="form-control">
    </div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-transparent">
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1d8120f110d3b61889d28bab7_1851aa99ab" tabindex="-1" value=""></div>
    </form>
  </div>
