<div id="some">
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Facebook" aria-label="Facebook" href="https://fb.com/mikael.korpela"><i class="icon-facebook"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="GitHub" aria-label="GitHub" href="https://github.com/simison"><i class="icon-github"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Twitter" aria-label="Twitter" href="https://twitter.com/simison"><i class="icon-twitter"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="LinkedIn" aria-label="LinkedIn" href="https://www.linkedin.com/in/mikaelkorpela"><i class="icon-linkedin"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="+Google" aria-label="+Google" href="https://plus.google.com/+MikaelKorpelasimison"><i class="icon-gplus"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Telegram" aria-label="Telegram" href="https://telegram.me/simison"><i class="icon-telegram"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Skype: korpela.mikael" aria-label="Skype: korpela.mikael" href="skype:korpela.mikael?add"><i class="icon-skype"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Signal: +358505557171" aria-label="Signal: +358505557171"><i class="icon-signal"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Jabber: mikael.korpela@gmail.com" aria-label="Jabber: mikael.korpela@gmail.com" href="xmpp:mikael.korpela@gmail.com?message"><i class="icon-jabber"></i></a>
    <!--<a tooltips tooltip-side="bottom" tooltip-speed="fast" tooltip-title="Freenode IRC: simison" aria-label="Freenode IRC: simison" href="irc://irc.freenode.net/hackercouch"><i class="icon-terminal"></i></a>-->
</div>
