<div id="some">
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="Facebook" href="https://fb.com/mikael.korpela"><i class="icon-facebook"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="GitHub" href="https://github.com/simison"><i class="icon-github"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="Twitter" href="https://twitter.com/simison"><i class="icon-twitter"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="LinkedIn" href="https://www.linkedin.com/in/mikaelkorpela"><i class="icon-linkedin"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="+Google" href="https://plus.google.com/+MikaelKorpelasimison"><i class="icon-gplus"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="Skype: korpela.mikael" href="skype:korpela.mikael?add"><i class="icon-skype"></i></a>
    <a tooltips tooltip-side="bottom" tooltip-speed="fast" title="Freenode IRC: simison" href="irc://irc.freenode.net/hackercouch"><i class="icon-terminal"></i></a>
</div>
