---
layout: default
title: "Graphic designer and frontend developer Mikael Korpela"
description: "I build websites and campaigns for the largest brands in Europe and Finland by working mostly with digital and advertising agencies. I’m very experienced both at graphic design and at frontend development."
body_id: "cv"
---

<div id="cover" resizable ng-style="{ height: (app.windowHeight / 1.03) }">
  <div style="background-image: url('/covers/porta-de-sol-lisbon.jpg')" resizable ng-style="{ height: (app.windowHeight / 1.03) }"></div>
  <div id="cover-blur" style="background-image: url('/covers/porta-de-sol-lisbon-blur.jpg')" resizable ng-style="{ height: (app.windowHeight / 1.03) }"></div>
</div>

<header id="page-header">
  <div class="title" style="height:50px">
    <h1>.CV {</h1>
  </div>
  {% include go_down.html %}
</header>

<div class="container vcard" itemscope itemtype="http://data-vocabulary.org/Person">
  <article class="main">
    <div class="content" id="content">

      <p class="lead cv-lead">I build websites and campaigns for the biggest brands in Europe and in Finland by working mostly with digital and advertising agencies, as well with startups. I'm very experienced both at design and development.</p>

      <p>I've done loads — my industry experience is extensive. I’m a very <a href="https://github.com/simison">active</a> open source contributor and visionary free/share-economics activist. I've won a couple of awards with my teams and I regularly give interviews about my projects.</p>

      <p>Currently I'm concentrating mostly on consulting, startups and open source.</p>

      <h3>Exhaustive list of the techy stuff I'm familiar with</h3>
      <ul class="links-colorless list-skills">
        <li>Cross-browser, cross-platform -testing and debugging</li>
        <li>JavaScript since <em>forever</em>. Single page apps. JS at client &amp; server side</li>
        <li>Databases; MySQL since 2000 and <a href="http://www.mongodb.org/">MongoDB</a> since 2013</li>
        <li><a href="http://nginx.org">Nginx</a> & <a href="https://httpd.apache.org/">Apache</a> servers</li>
        <li>Transactional email systems</li>
        <li>Linux server maintenace</li>
        <li>PHP since 2000</li>
        <li><a href="http://coffeescript.org/">CoffeeScript</a></li>
        <li><a href="http://www.wordpress.org">Wordpress</a> since 2004 (I'm <em>very</em> experienced with WP)</li>
        <li><a href="http://nodejs.org">NodeJS</a> since 2013</li>
        <li><a href="http://expressjs.com/">ExpressJS</a></li>
        <li><a href="http://www.meteor.com">MeteorJS</a></li>
        <li><a href="http://www.symfony.com">Symfony2</a></li>
        <li><a href="http://www.crasman.fi/en/">Crasman Stage CMS</a></li>
        <li><a href="http://phonegap.com/">PhoneGAP</a>/<a href="https://cordova.apache.org/">Cordova</a></li>
        <li><a href="http://www.mediawiki.org">Mediawiki</a> since 2008</li>
        <li><a href="https://angularjs.org/">AngularJS</a> since 2013</li>
        <li><a href="https://developers.google.com/maps/">Google Maps API</a>, <a href="http://openlayers.org/">OpenLayers</a> and <a href="http://www.leafletjs.com/">Leaflet</a> <em>(I'm generally pretty good with mapping stuff)</em></li>
        <li><a href="http://git-scm.com/">Git</a> &amp; <a href="https://subversion.apache.org/">Subversion</a></li>
        <li class="list-skills-more">
          <small>— <a href="https://www.linkedin.com/profile/view?id=16003262#profile-skills">more on LinkedIn</a></small>
        </li>
      </ul>

      <ul class="list-skills">
        <li>Photoshop</li>
        <li>Indesign</li>
        <li>Illustrator</li>
        <li>Flash <em>(Frankly I've been trying to keep away from it nowadays)</em></li>
      </ul>

      <h2 id="work">Worked for...</h2>
      <ol id="offices">

      <li>
        <div class="summary">
          <h4>Freelancer</h4>
          Developer & Designer
        </div>
        <div class="description">
          I've worked with multiple agencies, companies and startups as a freelance developer and designer. SEK Point, Into-Digital, Crasman, Ad Kiivi and many more.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="https://www.trustroots.org/foundation">Trustroots Foundation</a></h4>
          <h4>Co-founder</h4>
          2014—
        </div>
        <div class="description">
          Trustroots Foundation is a non-profit running free-economy travel community at <a href="https://www.trustroots.org">Trustroots.org</a>. We have 24K members around the world.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.byroo.fi">Byroo Ltd</a></h4>
          Developer<br>
          4/2012—04/2014
        </div>
        <div class="description">
          Byroo is a digital advertising agency based in Helsinki. Clients include many of the biggest advertising agencies in Finland and notable brands.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.into-digital.fi">Into-Digital Ltd</a></h4>
          Art Director<br>
          10/2010—05/2011
        </div>
        <div class="description">
          Again I worked on the cutting edge of the Finnish digital media. Customers included many of the largest companies and brands in Finland and Europe.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.gemilo.fi">Gemilo Ltd</a></h4>
          Graphic designer<br>
          3/2010—8/2010
        </div>
        <div class="description">
          Gemilo is a social media solution agency and was listed as one of the most interesting startups in Finland. My work included website designs and GUI-design for their products.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.into-digital.fi">Into-Digital Ltd</a></h4>
          Art Director<br>
          5/2008—3/2009
        </div>
        <div class="description">
          Customers included many of the largest companies and brands in Finland and Europe.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.alypaa.com/">Älypää Ltd,</a><br>
          <a href="http://sanomagames.fi/">Sanoma Digital Finland</a></h4>
          Graphic designer<br>
          11/2006—7/2008
        </div>
        <div class="description">
          Graphic design for Flash/mobile games for alypaa.com and their customers. Älypää is the largest online quiz community in Finland with over 130,000 unique visitors a week. Customers included some of the largest companies and brands in Finland, including Alko, Viking Line, Nintendo, SAK, S-ryhmä, and Itella.
        </div>
      </li>

      <li>
        <div class="summary">
          <h4><a href="http://www.osuuskuntaraymond.fi/">Raymond,<br>Cultureproduction-cooperative</a></h4>
          6/2007—4/2008
        </div>
        <div class="description">
          Freelancing for culture productions
        </div>
      </li>

      <li>
        <div class="summary">
          <h4>Culture magazine Kulkuri</h4>
          Editor<br>
          8/2007—11/2007
        </div>
        <div class="description">
          Kulkuri was a biweekly culture magazine and event calendar based in Jyväskylä Finland, with a distribution of around 5000 copies.
        </div>
      </li>

      <!--
      <li>
        <h4>Short: trainee / civil service</h4>
        <a href="http://www.jao.fi/">Jyväskylän ammattiopisto</a>, media-assistant / civil service (non-military)</span>, <abbr class="dtstart" title="2004-06">6/2004</abbr>—<abbr class="dtend" title="2005-06">6/2005</abbr><br>
        <a href="http://www.mediataivas.com">Advertising agency Mediataivas Ltd</a>, trainee, 2 months in <abbr class="dtstart" title="2003-11-11">2003</abbr><abbr class="dtend" title="2004-02-20"></abbr><br>
        <a href="http://www.mediacabinet.fi">Media Cabinet Ltd</a>, trainee 1 month in <abbr class="dtstart" title="2003-03-24">2003</abbr><abbr class="dtend" title="2003-05-04"></abbr>
      </li>
      -->

      </ol>

      <h3 id="also">Also</h3>
      Plenty of projects as a freelancer for large and small clients. I've worked around the world — in Finland, Lithuania, Spain, Portugal, France, Turkey, Malaysia, Indonesia, USA and Singapore. I've also worked with exhibitions, several small magazines, and have been an instructor and lecturer.
      <br><br>
      I've co-organised <a href="https://www.meetup.com/Vilnius-js/">VilniusJS</a> meetups and a dozen small and bigger <a href="http://en.wikipedia.org/wiki/Hackathon">hackathons</a> over the years.
      <br><br>
      Since 2008 co-running some big free-economy travel sites such as <a href="http://hitchwiki.org">Hitchwiki</a>, <a href="http://nomadwiki.org">Nomadwiki</a> and more. We get over 150K unique visitors a month.
      <br><br>
      2006—2008 I was involved with <a href="http://www.liveherring.org">Live Herring</a> workgroup, increasing the exposure of Nordic media-art in workshops, lectures and exhibitions. In 2008—2010 I contributed to the consumer and climate activism collective <a href="http://en.wikipedia.org/wiki/Carrotmob">Carrotmob</a>.

      <h2 id="honors">Honors</h2>
      <ul class="links-colorless list-skills">
        <li><b>2010</b> — MTV3 Golden pixels winner, Berocca banner-campaing. Selected as "the best Golden pixel of 2010" in Grand One 2011. (Employer: Into-Digital, role: Flash developer)</li>
        <li><b>2010</b> — Grand One 2010 winner, best Infodesign: Sun Sauna (Employer: Into-Digital, role: art director)</li>
        <li><b>2009</b> — Grand One 2009 1st honorable mention, most effective online campaign: Finnmatkat (TUI) email campaing (Employer: Into-Digital, role: art director)</li>
        <li><b>2007</b> — Participated in the <a href="http://www.worldskills.org/">World Skills Championship</a>, in Japan</li>
        <li><b>2004</b> — Winner of the <a href="http://skillsfinland.fi/">Skills competition</a> in web design, in Finland</li>
      </ul>

      <blockquote tooltips tooltip-speed="fast" tooltip-side="bottom" class="sidequote" title="Jessamyn West (American Writer, 1902-1984)">Talent is helpful but guts are absolutely necessary.</blockquote>

      <h2 id="language">Language skills</h2>
      Finnish: native<br />
      English: excellent<br />
      Lithuanian: basic<br />
      Swedish: basic<br />

    </div>
    <aside class="sidebar">

      <img src="/assets/img/mikael.jpg" alt="Mikael Korpela" itemprop="photo" class="photo">

      <br><br>

      <p class="lead">I'm available for freelancing; just drop me a message! I'm based in Lithuania, Europe, but I travel extensively.</p>

      <div class="panel text-centered links-colorless">
        <p><a href="mailto:mikael@ihminen.org" class="email">mikael@ihminen.org</a></p>

        <p>
        Finnish<br>
        <a href="tel:+358505557171" class="tel"><span class="type hidden">Home</span><span class="value" itemprop="tel">+358 50 555 7171</span></a>
        </p>

        <p>
        Lithuanian<br>
        <a href="tel:+37062291941" class="tel"><span class="type hidden">Home</span><span class="value" itemprop="tel">+370 62 291 941</span></a>
        </p>

        {% include some.html %}

        <p>I was born <abbr tooltips tooltip-speed="fast" tooltip-side="bottom" class="bday" title="22th Nov 1985">1985</abbr> in Finland.</p>

      </div>
    </aside>

    <span class="cv-finished">} <a ng-href="{{ root_url }}/">// Say hello!</a></span>

  </article>
</div>
