
@-webkit-keyframes MeBgAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes MeBgAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

body#me {
	// Custom tooltip colors for this page
	._720kb-tooltip {
	  background: $bg-color;
	  color: $text-color;
	}
	._720kb-tooltip-title {
	  color: $text-color;
	}
	._720kb-tooltip-caret:before {
	  //border: $bg-color;
	  border-top-color: $bg-color;
	  border-bottom-color: $bg-color;
	}

  // The image on frontpage
	#cover {
		background-image: url('/covers/mantymetsa.jpg');
		background-size: cover;
	}
  // Custom gradient overlay crazy color thingy
	#cover-sharp {
	    background-size: 150% 150%;
      -webkit-animation: MeBgAnim 15s ease forwards;
	    animation: MeBgAnim 15s ease forwards;
			@include gradient-directional(#0000ff, #ff0000, 45deg);
			opacity: 0.5;
	}
	 #cover-blur {
		background-color: rgba(29, 188, 100, 0.2);
	}

	// Crazy size changes for my name
	#page-header {
	    .title {
          z-index: 1; // Make texts/links clickable in header

	        @media all and (max-width: 599px) {
	            height: 450px;
	        }
	        @media all and (min-width: 600px) {
	            height: 240px;
	        }
	        @media all and (min-width: 700px) {
	            height: 240px;
	        }
					@media screen and (max-height: 320px) {
						  height: 200px;
					}
	    }
        h1 {
            @extend .hero-font;
            color: $bg-color;
            font-size: 100px;
            @media screen and (max-width: 768px) {
                font-size: 70px;
                line-height: 70px;
            }
            @media screen and (max-width: 568px) {
                font-size: 40px;
                line-height: 40px;
						}
        }
        h3 {
            font-family: 'Source Sans Pro', Helvetica, sans-serif;
        }
	}

	// Social media links and stuff like that
    #some {
        margin-top: 100px;
        font-size: 26px;
        font-weight: normal;
        text-shadow: none;
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 5px;
        }
        @media screen and (max-width: 599px) {
            margin-top: 30px;
            a {
                margin: 0 2px;
            }
        }
    }

		// My email & digits
    #contact {
        display: inline-block;
        position: relative;
        text-shadow: none;
        line-height: 40px;
				font-size: 26px;
        @extend .sans;
        @media screen and (max-width: 599px) {
            display: block;
            height: auto;
            color: transparent;
        }
        a {
						color: #fff;
        }
    }

		// About me
    .container .main .content {
        width: 100%;
        .narrower-content {
            width: 45%;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        float: none;
        font-size: 19px;
        line-height: 29px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @extend .sans;
        h2 {
            text-transform: none;
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 20px;
        }
        hr {
            background-color: $primary-color;
            color: $primary-color;
            width: 20%;
            margin: 50px auto;
        }
        img {
            max-width: 100%;
        }
    }
}
