---
layout: default
title: Blog of Mikael Korpela
description: "Exploring the world of share- & free economy while living a life of a traveling geek."
body_id: "blog-index"
---

<div id="cover" resizable ng-style="{ height: app.windowHeight }">
  <div style="background-image: url('/covers/mikael-in-mirror.jpg')" resizable ng-style="{ height: app.windowHeight }"></div>
  <div id="cover-dark" resizable ng-style="{ height: app.windowHeight }"></div>
  <div id="cover-blur" style="background-image: url('/covers/mikael-in-mirror-blur.jpg')" resizable ng-style="{ height: app.windowHeight }"></div>
</div>

<header id="page-header">
  <div class="title">
    <h1>Mikael Korpela</h1>
    <h3>Exploring the world of share- & free economy while living a life of a traveling geek.</h3>
    <hr>
    <a href="/blog/archives">Archives</a>
    /
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="subscribe-rss" title="Subscribe via RSS">RSS</a>
    {% if site.subscribe_email %}
      /
      <a href="{{ site.subscribe_email }}" rel="subscribe-email" title="Subscribe via email">Subscribe via Email</a></li>
    {% endif %}
  </div>
  {% include go_down.html %}
</header>

<div class="container">
    <article class="main">
        <div class="content">

            <div class="blog-index" id="content">
              {% for post in site.posts limit: site.recent_posts %}
              {% assign content = post.content %}
                <article class="blog-tile"{% if post.cover_image %} style="background-image: url('/covers/{{ post.cover_image }}')"{% endif %}>
                  <a rel="full-article" href="{{ root_url }}{{ post.url }}" class="blog-tile-link">
                    <div class="blog-tile-content">
                      {% include post/date.html %}
                      <h1 class="entry-title">{{ post.title }}</h1>
                      <span class="entry-more">Read on <i class="icon-right"></i></span>
                    </div>
                  </a>
                </article>
              {% endfor %}

              <div class="pagination">
                {% if paginator.next_page %}
                  <a class="prev" href="{{paginator.next_page_path}}"><i class="icon-left"></i> Older</a>
                {% endif %}
                {% if paginator.previous_page %}
                <a class="next" href="{{paginator.previous_page_path}}">Newer <i class="icon-right"></i></a>
                {% endif %}
              </div>
            </div>

        </div>

    </article>
</div>

<section id="subscribe" class="subscribe-footer">
    {% include blog_subscribe.html %}
</section>
