---
layout: default
title: "Portfolio of Mikael Korpela"
description: "Portfolio of graphic designer and frontend developer Mikael Korpela. There’s always the satisfaction that you have done something for somebody that goes beyond the commercial aspects of the show."
body_id: "portfolio"
---

<div id="cover" resizable ng-style="{ height: app.windowHeight }">
  <div resizable ng-style="{ height: app.windowHeight }"></div>
  <div id="cover-blur" resizable ng-style="{ height: app.windowHeight }"></div>
</div>

<header id="page-header">
  <div class="title">
  	<div class="clown"></div>
    <h1>Portfolio</h1>
    <h3>There’s always the satisfaction that you have done something for somebody that goes beyond the commercial aspects of the show.</h3>
    <hr>
  </div>
  <button class="down" ng-click="app.goToContent()"></button>
</header>

<div class="container" id="content" ng-controller="PortfolioController as portfolio">

  <article deckgrid source="portfolio.works" cardTemplate="/ng-partials/portfolio-card.html" class="deckgrid modal-stack" ng-class="{'modal-active': portfolio.card}"></article>

  <p class="text-centered title-font text-muted">
    <em>...and many more.</em>
  </p>

  <p class="thanks">Kiitos. Thank you.</p>

  <aside class="modal" ng-class="{'modal-active': portfolio.card}">
    <div class="modal-meta">
  	  <button class="flex-close" ng-click="portfolio.card=false"></button>

      <h3 ng-show="portfolio.card.title">{{ "{{ portfolio.card.title " }}}}</h3>

      <div class="modal-story" ng-show="portfolio.card.story" ng-bind-html="portfolio.card.story"></div>

      <!-- Single URL -->
      <a class="modal-url && portfolio.card.url_label" target="_blank" ng-href="{{ "{{ portfolio.card.url " }}}}" ng-show="portfolio.card.url">{{ "{{ portfolio.card.url_label " }}}}</a>

      <!-- Multiple URLs -->
      <a ng-show="portfolio.card.urls" ng-repeat="link in portfolio.card.urls" ng-href="{{ "{{ link.url " }}}}" class="modal-url" target="_blank">{{ "{{ link.url_label " }}}}</a>

      <div ng-show="portfolio.card.tags" class="modal-tags tags">
         &lt;<span class="tag" ng-repeat="tag in portfolio.card.tags">{{ "{{ tag " }}}}</span>&gt;
      </div>

      <div ng-show="portfolio.card.employer" class="modal-employer">Employer: {{ "{{ portfolio.card.employer " }}}}</div>

      <div ng-show="portfolio.card.year" class="modal-year">{{ "{{ portfolio.card.year " }}}}</div>
    </div>
    <flex-slider slide="image in portfolio.card.images" animation="fade" animation-loop="false" prev-text="" next-text="">
      <li><img ng-src="/assets/portfolio/{{ "{{ image " }}}}"></li>
    </flex-slider>
  </aside>

  <a class="duckie" ng-click="portfolio.duckie(true)" ng-mouseover="portfolio.duckie(false)" aria-hidden="true"></a>

</div>
